form {
  margin: 0;
}
form button,
form input[type="submit"],
form input[type="reset"],
form input[type="button"] {
  display: inline-block;
  letter-spacing: normal;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ie7 form button,
.ie7 form input[type="submit"],
.ie7 form input[type="reset"],
.ie7 form input[type="button"] {
  display: inline;
  zoom: 1;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
select {
  display: inline-block;
  max-width: 100%;
  letter-spacing: normal;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ie7 input[type="text"],
.ie7 input[type="password"],
.ie7 input[type="email"],
.ie7 input[type="file"],
.ie7 input[type="datetime"],
.ie7 input[type="datetime-local"],
.ie7 input[type="date"],
.ie7 input[type="month"],
.ie7 input[type="time"],
.ie7 input[type="week"],
.ie7 input[type="number"],
.ie7 input[type="url"],
.ie7 input[type="search"],
.ie7 input[type="tel"],
.ie7 input[type="color"],
.ie7 textarea,
.ie7 select {
  display: inline;
  zoom: 1;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  letter-spacing: normal;
  cursor: pointer;
}
label {
  display: block;
  letter-spacing: normal;
}

.input-wrap {
  letter-spacing: -4px;
}
.input-wrap .input_prepend,
.input-wrap .input_append {
  display: inline-block;
  padding: 0.3em 0.6em;
  height: 2em;
  letter-spacing: normal;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  border: 1px solid #aaaaaa;
  background: #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ie7 .input-wrap .input_prepend,
.ie7 .input-wrap .input_append {
  display: inline;
  zoom: 1;
}
.input-wrap .input_prepend {
  margin-right: -2px;
}
.input-wrap .input_append {
  margin-left: -2px;
}
form button,
form input[type="submit"],
form input[type="reset"],
form input[type="button"] {
  height: 2em;
  padding: 0.3em 0.6em;
  border: 1px solid #b3b3b3;
  background: #eeeeee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form button:hover,
form input[type="submit"]:hover,
form input[type="reset"]:hover,
form input[type="button"]:hover {
  color: #222222;
  text-decoration: none;
  background: #e5e5e5;
  border: 1px solid #808080;
}
form button:active,
form input[type="submit"]:active,
form input[type="reset"]:active,
form input[type="button"]:active {
  border: 1px solid #6f6f6f;
  background: #cccccc;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
select {
  padding: 0.3em;
  height: 2em;
  border: 1px solid #aaaaaa;
  background: #ffffff;
}
input[type="checkbox"],
input[type="radio"] {
  font-weight: normal;
}
select {
  padding: 0;
  height: auto;
}
textarea {
  width: auto;
  height: auto;
  min-height: 4em;
}
label {
  margin-bottom: 5.28px;
  margin-bottom: 0.33rem;
}
input.input_error,
textarea.input_error,
select.input_error {
  border-color: #dc4e44;
}
input.input_success,
textarea.input_success,
select.input_success {
  border-color: #46a546;
}
input.input_disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
input:focus,
textarea:focus {
  border-color: #049cdb;
  color: #444444;
}
