form {
  margin: 0;
}
form button,
form input[type="submit"],
form input[type="reset"],
form input[type="button"] {
  display: inline-block;
  letter-spacing: normal;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ie7 form button,
.ie7 form input[type="submit"],
.ie7 form input[type="reset"],
.ie7 form input[type="button"] {
  display: inline;
  zoom: 1;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
select {
  display: inline-block;
  max-width: 100%;
  letter-spacing: normal;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ie7 input[type="text"],
.ie7 input[type="password"],
.ie7 input[type="email"],
.ie7 input[type="file"],
.ie7 input[type="datetime"],
.ie7 input[type="datetime-local"],
.ie7 input[type="date"],
.ie7 input[type="month"],
.ie7 input[type="time"],
.ie7 input[type="week"],
.ie7 input[type="number"],
.ie7 input[type="url"],
.ie7 input[type="search"],
.ie7 input[type="tel"],
.ie7 input[type="color"],
.ie7 textarea,
.ie7 select {
  display: inline;
  zoom: 1;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  letter-spacing: normal;
  cursor: pointer;
}
label {
  display: block;
  letter-spacing: normal;
}
