.has-1 .column {
  width: 100%;
}
.has-2 .column {
  width: 50%;
}
.has-3 .column {
  width: 33.333333333333336%;
}
.has-4 .column {
  width: 25%;
}
.has-5 .column {
  width: 20%;
}
.has-6 .column {
  width: 16.666666666666668%;
}
.has-7 .column {
  width: 14.285714285714286%;
}
.has-8 .column {
  width: 12.5%;
}
.has-9 .column {
  width: 11.11111111111111%;
}
.has-10 .column {
  width: 10%;
}
.has-11 .column {
  width: 9.090909090909092%;
}
.has-12 .column {
  width: 8.333333333333334%;
}
@media only screen and (max-width: 768px) {
  .tablet-has-1 .column {
    width: 100%;
  }
  .tablet-has-2 .column {
    width: 50%;
  }
  .tablet-has-3 .column {
    width: 33.333333333333336%;
  }
  .tablet-has-4 .column {
    width: 25%;
  }
  .tablet-has-5 .column {
    width: 20%;
  }
  .tablet-has-6 .column {
    width: 16.666666666666668%;
  }
  .tablet-has-7 .column {
    width: 14.285714285714286%;
  }
  .tablet-has-8 .column {
    width: 12.5%;
  }
  .tablet-has-9 .column {
    width: 11.11111111111111%;
  }
  .tablet-has-10 .column {
    width: 10%;
  }
  .tablet-has-11 .column {
    width: 9.090909090909092%;
  }
  .tablet-has-12 .column {
    width: 8.333333333333334%;
  }
}
@media only screen and (max-width: 480px) {
  .mobile-has-1 .column {
    width: 100%;
  }
  .mobile-has-2 .column {
    width: 50%;
  }
  .mobile-has-3 .column {
    width: 33.333333333333336%;
  }
  .mobile-has-4 .column {
    width: 25%;
  }
  .mobile-has-5 .column {
    width: 20%;
  }
  .mobile-has-6 .column {
    width: 16.666666666666668%;
  }
}
