body > section {
  padding: 40px 0;
}
.container {
  position: relative;
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
}
.shaded {
  background: #fafafa;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #777;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
h2 {
  color: #222;
}
h3 {
  color: #444;
}
p > code {
  padding: 3px 5px;
  color: #ff6853;
  background-color: #feeeec;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
header[role="banner"] {
  padding: 65px 0;
  text-align: center;
  background: url("../img/back.png") repeat-x 0 0;
}
header[role="banner"] h1 {
  color: #000;
  font-size: 90px;
}
header[role="banner"] b {
  color: #f55946;
  text-transform: uppercase;
}
header[role="banner"] p {
  color: #555;
  font-size: 24px;
}
.download {
  margin-top: 30px;
  text-align: center;
}
.download .button {
  width: 248px;
  height: 62px;
  line-height: 62px;
  margin: auto;
  padding: 0;
  color: #fff;
  font-size: 30px;
  border: none;
  background-color: #ff6853;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.download .button:hover {
  background-color: #ff765f;
  text-decoration: none;
}
.download .button:active {
  background-color: #eb644f;
}
.example {
  margin-top: 15px;
}
.example pre {
  padding: 15px 20px;
  background: #fdfdfd;
  border-color: #e7e7e7;
}
.example pre code {
  background: none;
}
.example .row > * {
  margin-bottom: 10px;
  line-height: 2em;
  text-align: center;
  background-color: #e9e9e9;
  border: 1px solid #d1d1d1;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.example .row > *:hover {
  background-color: #d0d0d0;
  color: #fff;
}
.browser {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  overflow: hidden;
}
.browser li {
  float: left;
  width: 20%;
  list-style: none;
  text-align: center;
}
.browser img {
  max-width: 100%;
}
footer[role="contentinfo"] {
  padding: 40px 0;
  background-color: #222;
  overflow: hidden;
}
.author {
  display: inline-block;
}
.author p {
  margin: 0;
  color: #fff;
  font-size: 20px;
}
.author span {
  color: #7ebdcb;
}
.author a {
  color: #7a7a7a;
  color: rgba(255, 255, 255, 0.3);
  font-size: 13px;
  text-decoration: none;
}
.share {
  float: right;
  overflow: hidden;
}
.share a {
  display: inline-block;
  float: right;
  width: 60px;
  line-height: 40px;
  text-indent: 100%;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center center;
  white-space: nowrap;
  overflow: hidden;
}
.share .google {
  background-image: url("../img/google.png");
}
.share .google:hover {
  background-image: url("../img/google_hover.png");
}
.share .facebook {
  background-image: url("../img/facebook.png");
}
.share .facebook:hover {
  background-image: url("../img/facebook_hover.png");
}
.share .twitter {
  background-image: url("../img/twitter.png");
}
.share .twitter:hover {
  background-image: url("../img/twitter_hover.png");
}
@media only screen and (max-width: 768px) {
  .browser {
    width: auto;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    min-width: 300px;
  }
  header[role="banner"] h1 {
    font-size: 50px;
  }
  header[role="banner"] p {
    font-size: 16.1px;
  }
}