body > section {
  padding: 30px 0 30px;
}
.container {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
}
.shaded {
  background: #FaFaFa;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #777;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
h2 {
  color: #222;
}
h3 {
  color: #444;
}
input {
  color: #666;
  text-indent: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input:hover {
  border-color: #bbb;
}
input:focus {
  border-color: #7ebdcb;
}
input[disabled] {
  color: #aaa;
}
input[disabled]:hover {
  border-color: #ddd;
}
input[disabled]:focus {
  border-color: #ddd;
}
button {
  color: #fff;
  border: none;
  padding: 0;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.switch input {
  display: none;
}
.switch:hover {
  cursor: pointer;
}
.switch-inner {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.switch-inner-box {
  height: 24px;
  width: 116px;
}
.switch-on {
  position: relative;
  display: block;
  float: left;
  height: 24px;
  width: 58px;
  line-height: 24px;
  color: #fff;
  font-size: 14px;
  text-indent: 10px;
  background-color: #7ebdcb;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.switch-off {
  position: relative;
  display: block;
  float: left;
  height: 24px;
  width: 58px;
  line-height: 24px;
  color: #fff;
  font-size: 14px;
  text-indent: 27px;
  background-color: #cfcdc7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.switch-handle {
  position: absolute;
  top: 0;
  z-index: 999;
  height: 24px;
  width: 24px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.switch-handle:hover {
  cursor: pointer;
  cursor: -moz-grab;
}
.switch_on {
  border: 2px solid #7ebdcb;
  background-color: #7ebdcb;
}
.switch_on .switch-inner-box {
  margin-left: 0;
}
.switch_on .switch-handle {
  left: 46px;
}
.switch_off {
  border: 2px solid #cfcdc7;
  background-color: #cfcdc7;
}
.switch_off .switch-inner-box {
  margin-left: -46px;
}
.switch_off .switch-handle {
  left: 0;
}
header[role="banner"] {
  padding: 65px 0;
  text-align: center;
  background: url("../img/back.png") repeat-x 0 0;
}
header[role="banner"] h1 {
  color: #000;
  font-size: 90px;
}
header[role="banner"] b {
  color: #f55946;
  text-transform: uppercase;
}
header[role="banner"] p {
  color: #555;
  font-size: 24px;
}
.generator {
  display: none;
  padding: 60px 0;
}
/*.generator-dimension {
	position: relative;
	width: 74%;
	height: 4px;
	margin: 0 auto 90px;
	padding: 0;
	background-color: #e3dfd6;
	.border-radius(5px);
	button {
		position: absolute;
		top: 32px;
		left: 50%;
		width: 186px;
		height: 36px;
		line-height: 36px;
		margin-left: -93px;
		background-color: #7ebdcb;
		&:hover {
			background-color: #8dcbda;
		}
		&:active {
			background-color: #72b0be;
		}
	}
	
}
.dimension-pointer {
	position: absolute;
	top: -3px;
	width: 6px;
	height: 6px;
	border: 2px solid #ff6853;
	background-color: #fff;
	.border-radius(5px);
	.dimension-tip {
		display: none;
	}
}
.dimension-tip {
	position: absolute;
	top: -30px;
	left: 0px;
	display: block;
	width: 40px;
	line-height: 20px;
	margin-left: -15px;
	color: #fff;
	text-align: center;
	background-color: #564c4a;
	.border-radius(3px);
}
.dimension-pointer_active {
	background-color: #ff6853;
	.dimension-tip {
		display: block;
	}
}
.generator-setting {
	width: 230px;
	overflow: hidden;
	ul {
		position: relative;
		margin: 0;
		border-top: 1px solid #ddd;
		&:first-child {
			border: none;
			input {
				width: 110px;
			}
		}
	}
	li {
		margin: 15px 0;
		padding: 0;
		list-style: none;
	}
	label {
		display: inline-block;
		width: 110px;
		color: #222;
	}
	input {
		width: 75px;
		height: 30px;
	}
}
.generator-effect {
	position: absolute;
	top: 170px;
	left: 250px;
	width: 76%;
}
.generator-submit {
	display: block;
	margin-top: 30px;
	overflow: hidden;
	button {
		float: left;
		width: 49.9%;
		height: 36px;
		line-height: 36px;
		text-transform: capitalize;
	}
}
.submit_update {
	background-color: #7ecb8b;
	&:hover {
		background-color: #8ad897;
	}
	&:active {
		background-color: #6fbc7d;
	}
}
.submit_delete {
	color: #555;
	background-color: transparent;
	&:hover {
		color: #555;
	}
}
.download {
	margin-top: 55px;
	text-align: center;
	button {
		width: 248px;
		height: 62px;
		line-height: 62px;
		margin: auto;
		font-size: 30px;
		text-transform: capitalize;
		background-color: #ff6853;
		&:hover {
			background-color: #ff765f;
		}
		&:active {
			background-color: #eb644f;
		}
	}
}
*/
.example .row p {
  line-height: 24px;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
  background-color: #f0f0f0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.example .row p:hover {
  background-color: #d0d0d0;
  color: #fff;
}
.example .row > * {
  margin-bottom: 8px;
}
footer[role="contentinfo"] {
  padding: 40px 0;
  background-color: #222;
  overflow: hidden;
}
.author {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  margin-right: 42.708333333333336%;
}
.author p {
  margin: 0;
  color: #fff;
  font-size: 20px;
}
.author span {
  color: #7ebdcb;
}
.author a {
  color: #7a7a7a;
  color: rgba(255, 255, 255, 0.3);
  font-size: 13px;
  text-decoration: none;
}
.share {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  overflow: hidden;
}
.share a {
  display: inline-block;
  float: right;
  width: 60px;
  line-height: 40px;
  text-indent: 100%;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center center;
  white-space: nowrap;
  overflow: hidden;
}
.share .google {
  background-image: url("../img/google.png");
}
.share .google:hover {
  background-image: url("../img/google_hover.png");
}
.share .facebook {
  background-image: url("../img/facebook.png");
}
.share .facebook:hover {
  background-image: url("../img/facebook_hover.png");
}
.share .twitter {
  background-image: url("../img/twitter.png");
}
.share .twitter:hover {
  background-image: url("../img/twitter_hover.png");
}
.share .github {
  background-image: url("../img/github.png");
}
.share .github:hover {
  background-image: url("../img/github_hover.png");
}
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .author {
    width: 99%;
  }
  .share {
    position: relative;
    top: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    min-width: 300px;
  }
  header[role="banner"] h1 {
    font-size: 60px;
  }
}
