html {
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
}
p {
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
a {
  outline: none;
}
a:focus {
  outline: none;
}
a:active {
  outline: none;
}
small {
  font-size: 13.6px;
  font-size: 0.85rem;
}
strong,
b {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
code {
  font-size: 14.4px;
  font-size: 0.9rem;
  background: #f8f8f8;
  border: 1px solid #999999;
  padding: 2px 3px;
}
kbd {
  background: #f8f8f8;
  border: 1px solid #999999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: normal;
  padding: 0 0.5em;
  white-space: nowrap;
}
del {
  text-decoration: line-through;
}
ins {
  text-decoration: underline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
mark {
  background-color: #ffee55;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: .2em;
}
h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: .33em;
}
h3 {
  font-size: 26px;
  font-size: 1.625rem;
  margin-bottom: .5em;
}
h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .5em;
}
h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: .5em;
}
h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: .5em;
}
ul,
ol {
  padding: 0;
  margin: 0;
  margin-left: 32px;
  margin-left: 2rem;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
dl {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 16px;
  margin-left: 1rem;
}
hr {
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
blockquote {
  padding: 0 0 0 1em;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.875;
}
blockquote small {
  display: block;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  font-style: normal;
}
